<!DOCTYPE html>
<html>
<head>

<!--前辈的信息-->
<link rel="shortcut icon" href="image/avatar_100x100.png" type="image/x-icon">
<meta name="author" content="lesixiang">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">


<!--用于百度验证 1为站长工具  2为统计工具-->
       <meta name="baidu-site-verification" content="169Gn1aIzS" />
       <meta name="baidu-site-verification" content="1LhASxdIsz" />
<!--用于百度验证【完毕】-->       
        <meta charset="UTF-8">
        <title>离贪的个人主页</title>
        <meta http-equiv="Pragma"content="no-cache"> 
        <meta name="keywords" content="离贪，歌基，小魂，魂总，老干妈，特曼，二青，梁宣城">  <meta name="description" content="胖才是一名歌基，也是一名程序员">
        <meta http-equiv="refresh" content="25; url=http://5sing.kugou.com/fc/16024211.html">
        <meta name="robots"content="all"> <meta name="de ion"content="这是歌基胖才的个人小站"> 

  

 
<!--百度baidu统计 -->  
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?1659639860c459fad2ce06ef20cc07f1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
 <!--百度baidu统计【完毕】 -->  
<link rel="apple-touch-icon-precomposed" href="image/avatar_152x152.png" sizes="152x152">

<link rel="stylesheet" href="css/style.css">
<!-- <link rel="stylesheet" href="css/swiper.min.css"> -->
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
</head>

<body>
    <div id="mimida"></div>
    <div id="container"></div>
    <div id="cont">
        <div id="main">
            <h1><img src="image/avatar_100x100.png"> <span>离贪</span></h1>
            <h3>歌基/程序员/生日95年12月</h3>
            <!-- <p id="email">123456</p> -->
            
            
            
            
            
       
         
           
            
            <a href="">【淘宝】胖才与三月的后期</a><br/>
            
            
            <dl id="nav">
        		<dd>Blog <a href="http://yikongyin.com" target="_blank">yikongyin.com</a>  - 离贪</dd>
               <br>
                <dt>页面将在25秒后调至17年06月29日上传的新歌曲【明月天涯】页面 </dt>
             
               	<dd>index <a>主页</a> - <a href="http://t.cn/R09iwFo" target="_blank">视频版-主页</a></dd>
                <dd>2017/09/27开通 <a>听歌模块</a> - <a href="http://www.yikongyin.com/music-gh-pages/index.html" target="_blank">播放器</a></dd>
				<dd>2018/01/01<a>Github</a> - <a href="https://github.com/style1174" target="_blank">Github-主页-style1174</a></dd>
				<dd>2018/01/01<a>微博</a> - <a href="http://weibo.com/stylebuqi?refer_flag=1001030201_" target="_blank">微博-stylebuqi-南谨</a></dd>
				<dd>2018/01/01<a>5sing</a> - <a href="http://5sing.kugou.com/jd666/default.html" target="_blank">5sing-jd666-离贪</a></dd>
				
			    <dd>2018/01/01<a>5sing</a> - <a href="http://5sing.kugou.com/54515851/default.html" target="_blank">5sing-54515851-三月</a></dd>
				<dd>2018/01/01<a>网易云音乐</a> - <a href="http://weibo.com/stylebuqi?refer_flag=1001030201_" target="_blank">音乐人三月贴唱后期作品电台</a></dd>
				
		<!--	<dd>2018/01/01<a>淘宝</a> - <a href="https://item.taobao.com/item.htm?spm=a230r.1.14.50.ebb2eb27Kh68a&id=555895580604&ns=1&abbucket=12#detail" target="_blank">胖才与三月的后期小店</a></dd>  -->
				<dd>测试通道 <a>花生壳穿透</a> - <a href="http://style1174.6655.la/pangcai/index.jsp" target="_blank">tomcat运行中才可访问</a></dd>
			
				
			
				   <dt><!--百度搜索栏-->

<form onsubmit="return baiduWithHttps(this)" action="http://www.baidu.com/baidu" target="_blank">
    <input name="tn" type="hidden" value="SE_zzsearchcode_shhzc78w">
    <a href="https://www.baidu.com/" target="_blank">
        <img src="https://www.baidu.com/img/baidu_jgylogo3.gif" alt="Baidu" align="bottom" border="0">
    </a>
    <input type="text"  onfocus="checkHttps" name="word"  size="30">
    <input type="submit"value="百度搜索">
</form>
<script src="http://s1.bdstatic.com/r/www/cache/global/js/BaiduHttps_20150714_zhanzhang.js"></script>
<script>
    function checkHttps () {
        BaiduHttps.useHttps();    
    };
    function baiduWithHttps (formname) {
        var data = BaiduHttps.useHttps();
        if (data.s === 0) {
            return true;
        }
        else {
            formname.action = 'https://www.baidu.com/baidu' + '?ssl_s=1&ssl_c' + data.ssl_code;
            return true;
        }
    };
</script> </dt>
				
				<dd>访问次数 <!--刷新多少次  -->  
<script language=JavaScript>
<!--
var caution = false
function setCookie(name, value, expires, path, domain, secure) {
var curCookie = name + "=" + escape(value) +
((expires) ? "; expires=" + expires.toGMTString() : "") +
((path) ? "; path=" + path : "") +
((domain) ? "; domain=" + domain : "") +
((secure) ? "; secure" : "")
if (!caution || (name + "=" + escape(value)).length <= 4000)
document.cookie = curCookie
else
if (confirm("Cookie exceeds 4KB and will be cut!"))
document.cookie = curCookie
}
function getCookie(name) {
var prefix = name + "="
var cookieStartIndex = document.cookie.indexOf(prefix)
if (cookieStartIndex == -1)
return null
var cookieEndIndex = document.cookie.indexOf(";", cookieStartIndex + prefix.length)
if (cookieEndIndex == -1)
cookieEndIndex = document.cookie.length
return unescape(document.cookie.substring(cookieStartIndex + prefix.length, cookieEndIndex))
}
function deleteCookie(name, path, domain) {
if (getCookie(name)) {
document.cookie = name + "=" +
((path) ? "; path=" + path : "") +
((domain) ? "; domain=" + domain : "") +
"; expires=Thu, 01-Jan-70 00:00:01 GMT"
}
}
function fixDate(date) {
var base = new Date(0)
var skew = base.getTime()
if (skew > 0)
date.setTime(date.getTime() - skew)
}
var now = new Date()
fixDate(now)
now.setTime(now.getTime() + 365 * 24 * 60 * 60 * 1000)
var visits = getCookie("counter")
if (!visits)
visits = 1
else
visits = parseInt(visits) + 1
setCookie("counter", visits, now)
document.write("此测试页面被您访问" + visits + "次，清除缓存后重新计数")
// -->
</script></dd>
              

<dd><p>Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a></p></dd>

<dd><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1264601377'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1264601377%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></dd>

	
	







	
            
	    </dl>
        </div>
    </div>
    <div id="works-wrap"></div>
    <footer>&copy;2017</footer>

    
  <!--   <script id="worksTpl" type="text/template">
        <div id="slider" class="swiper-container">
            <div class="swiper-wrapper">
            <% _.each(works, function(card, i) { %>
                <div class="swiper-slide" style="background-image: url(<%= card.image %>);">
                    <h1><%= card.title %></h1>
                </div>
            <% }); %>
            </div>
             
            <div class="swiper-pagination"></div>
        </div>
    </script> -->
   

    <script src="js/sketch.js"></script>
    <script src="js/jquery.min.js"></script>
    <!-- // <script src="js/template.js"></script> -->
    <!-- // <script src="js/swiper-3.0.7.min.js"></script> -->
    <!-- // <script src="js/velocity.min.js"></script> -->
    <!-- // <script src="js/velocity.ui.js"></script> -->
    <script src="js/app.js"></script>
    

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-9097302-10', 'auto');
        ga('send', 'pageview');
    </script>
	
	
 <!--百度baidu主动推送 -->  
 <script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
 <!--百度baidu主动推送【完毕】 -->  





</body>
</html>
